.background-container{
  color: white;
  min-width: 98vw;
  min-height: 100vh;
  /* background-color: #00796b; */
  background-image: url(../../../assets/home-top/backgrounds/home1920.svg);
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.userphoto-container{
  width: 33.3%;
  height: 75vh;
}

.form-container{
  width: 66.6%;
  height: 75vh;
}

.first-table-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.first-table-row .mat-form-field{
  margin: 20px;
  flex: 1;
  flex-basis: 30%;
}

.submitbtn-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  /* border: 1px solid pink; */
  margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    width: 77%;
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
margin: 20px;
}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}

.card {
  margin: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 250px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  min-width: 200px;
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
  color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}

.centered-buttons{
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 800px) {
  .first-table-row .mat-form-field{
    margin: 10px;
    flex: 1;
    flex-basis: 10%;
  }
}

@media screen and (max-width: 700px) {
  .background-container{
    flex-direction: column;
  }
  .mat-form-field{
    min-width: 200px;
  }
  .mat-raised-button{
    min-width: 200px;
  }
  .form-container{
    margin-top: 20px;
  }
  .userphoto-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}


/* @media screen and (max-width: 1440px) and (max-height: 900px) {
  .background-container{
    background-image: url(../../../assets/login-background/1440x900.svg);
  }
  .form-container{
    height: 500px;
  }
} */
